* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* With in the HTML document I already replaced div with nav. Due to that I used nav tag for the CSS to */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* With in the HTML document I already replaced div with nav. Due to that I used nav tag for the CSS to */
header nav ul {
    list-style-type: none;
}

/* With in the HTML document I already replaced div with nav. Due to that I used nav tag for the CSS to */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* With in the HTML document I already replaced div class called content with section. Due to that I used section tag for the CSS to */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* With in the HTML document I already replaced div class called benefits with aside. Due to that I used aside tag for the CSS to */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Under benefit there are three sub elements; benefit lead, benefit brand and benefit cost. All of them have the same apperance intermes of 
marigin and color. There fore instead of using three of them individualy I brought them in one tag under aside article as shown below. */
aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* The benefit lead div class has been Changed by aside article and subheadings under benefit have the same feature, due to that I brought them in one. */
aside article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* The image div class has been Changed by aside article image and images under benefit have the same feature, due to that I brought them in one. */
aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* In the HTML document the div class is already changed by section article tag. Moreover, three of the section articles have the same feature, 
due to that I brought them in to one. */
section article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Instead of providing a div class for the footer it is better to make it stand alone as a footer. The padding for the fotter is 30px, 
due to that I made a change by replacing h2 by h5. */
section article img {
    max-height: 200px;
}

section article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Instead of providing a div class for the footer it is better to make it stand alone as a footer. The padding for the fotter is 30px, 
due to that I made a change by replacing h2 by h5. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h5 {
    font-size: 20px;
}
